[project]
	description = new
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prabaharan0312126
[access "refs/for/refs/*"]
	read = group user/prabaharan0312126
	push = group user/prabaharan0312126
	label-Code-Review = -2..+2 group user/prabaharan0312126
	label-Verified = -1..+1 group user/prabaharan0312126
	rebase = group user/prabaharan0312126
	removeReviewer = group user/prabaharan0312126
	submit = group user/prabaharan0312126
[access "refs/heads/*"]
	read = group user/prabaharan0312126
	create = group user/prabaharan0312126
	push = +force group user/prabaharan0312126
	pushMerge = group user/prabaharan0312126
[access "refs/tags/*"]
	push = group user/prabaharan0312126
	push = +force group user/prabaharan0312126
